<div class="product-filters">
  <div class="filter-by-name">
    <mat-form-field appearance="outline">
      <mat-label>Filter by name</mat-label>
      <input matInput name="filterName" [formControl]="nameFilter" value="{{ searchName }}" placeholder="Ex. chair"
        autocomplete="off" />
    </mat-form-field>
  </div>

  <div class="filter-by-price">
    <div class="filter-by-range">
      <mat-form-field appearance="outline">
        <mat-label>Minimum price</mat-label>
        <input type="number" matInput placeholder="100" value="{{ searchMinPrice }}" [formControl]="minPriceFilter" />
        <mat-icon matPrefix>
          <span class="material-icons-outlined">attach_money</span></mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Maximum price</mat-label>
        <input type="number" matInput placeholder="100" value="{{ searchMaxPrice }}" [formControl]="maxPriceFilter" />
        <mat-icon matPrefix>
          <span class="material-icons-outlined">attach_money</span></mat-icon>
      </mat-form-field>
    </div>
  </div>
  
  <div class="filter-by-availability">
    <mat-radio-group aria-labelledby="example-radio-group-label" class="radio-buttons" [(ngModel)]="searchAvailability"
      (change)="availabilityChange($event)">
      <mat-radio-button class="availables" [checked]="searchAvailability === 'true'" value="true">
        Availables
      </mat-radio-button>
      <mat-radio-button class="unavailables" [checked]="searchAvailability === 'false'" value="false">
        Unavailables
      </mat-radio-button>
      <mat-radio-button class="both" [checked]="searchAvailability === 'both'" value="both">
        Both
      </mat-radio-button>
    </mat-radio-group>
  </div>
</div>
