.container {
  width: 80%;

  table {
    width: 100%;
    margin-top: 1rem;

    th {
      width: 45%;
    }
  }

  .mat-form-field {
    font-size: 14px;
    // width: 100%;
  }

  .product-filters {
    display: flex;
    justify-content: space-between;
  }
}