<div class="container">
  <mat-toolbar>
    <span>Products</span>
    <div class="example-spacer"></div>
    <button mat-raised-button color="primary" (click)="resetFilters()" routerLink="">
      Clear Filter
    </button>
  </mat-toolbar>

  <div class="product-filters">
    <div class="filter-by-name">
      <mat-form-field appearance="standard">
        <mat-label>Filter by Name</mat-label>
        <input matInput name="filterName" (keyup)="applyFilter('name', $event)" placeholder="Ex. chair" #input
          autocomplete="off" />
      </mat-form-field>
    </div>

    <div class="filter-by-price">
      <mat-expansion-panel (opened)="budgetPanelOpenState = true" (closed)="budgetPanelOpenState = false" [ngClass]="minAmount || maxAmount || budgetPanelOpenState === true ? 'active-filter-width' : 'no-filter-width'">
        <mat-expansion-panel-header [ngClass]="{'active-filter-bg': minAmount || maxAmount}">
          <mat-panel-title [ngClass]="{'active-filter-text': minAmount || maxAmount}">
            <span>Filter Range</span>
            <span *ngIf="minAmount || maxAmount">:&nbsp;</span>
            <span *ngIf="minAmount">${{minAmount}}</span>
            <span *ngIf="minAmount">&nbsp;-&nbsp;</span>
            <span *ngIf="maxAmount">${{maxAmount}}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="budget-range">
          <mat-form-field appearance="outline">
            <mat-label>Minimum</mat-label>
            <input type="number" matInput placeholder="100" [(ngModel)]="minAmount" />
            <mat-icon matPrefix>
              <span class="material-icons-outlined">attach_money</span></mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Maximum</mat-label>
            <input type="number" matInput placeholder="100" [(ngModel)]="maxAmount" />
            <mat-icon matPrefix>
              <span class="material-icons-outlined">attach_money</span></mat-icon>
          </mat-form-field>
        </div>
      </mat-expansion-panel>

      <!-- <mat-form-field appearance="standard">
        <mat-label>Filter by Price</mat-label>
        <input matInput (keyup)="applyFilter('price', $event)" placeholder="Ex. 100" #input autocomplete="off">
      </mat-form-field> -->
    </div>
    <div class="filter-by-availability">
      <mat-form-field appearance="standard">
        <mat-label>Filter by Availability</mat-label>
        <input matInput (keyup)="applyFilter('availability', $event)" placeholder="Ex. true " #input
          autocomplete="off" />
      </mat-form-field>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <!-- Name Column -->
      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.productName }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let element">{{ element.price }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="isAvailable">
        <th mat-header-cell *matHeaderCellDef>Availability</th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox [disabled]="true" [checked]="element.isAvailable"></mat-checkbox>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons [pageIndex]="startingPage"
      (page)="pageChanged($event)"></mat-paginator>
  </div>
</div>
