<div class="container">
  <mat-toolbar>
    <span>Products</span>
    <div class="example-spacer"></div>
    <button mat-raised-button color="primary" (click)="search()">Search</button>
    <div class="example-spacer"></div>
    <button mat-raised-button color="primary" (click)="clearFilter()">Clear Filter</button>
  </mat-toolbar>

  <div class="absolute-center" *ngIf="dataLoading">
    <mat-spinner [diameter]="80"></mat-spinner>
  </div>
  <div [style.visibility]="dataLoading ? 'hidden' : 'visible'">

    <div class="product-filters">
      <div class="filter-by-name">
        <mat-form-field appearance="outline">
          <mat-label>Filter by name</mat-label>
          <input matInput name="filterName" [formControl]="nameFilter" placeholder="Ex. chair" #input
            autocomplete="off" />
        </mat-form-field>
      </div>

      <div class="filter-by-price">
        <div class="filter-by-range">
          <mat-form-field appearance="outline">
            <mat-label>Minimum price</mat-label>
            <input type="number" matInput placeholder="100" [formControl]="minPriceFilter" />
            <mat-icon matPrefix>
              <span class="material-icons-outlined">attach_money</span></mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Maximum price</mat-label>
            <input type="number" matInput placeholder="100" [formControl]="maxPriceFilter" />
            <mat-icon matPrefix>
              <span class="material-icons-outlined">attach_money</span></mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="filter-by-availability">
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
          [(ngModel)]="searchAvailability" (change)="availabilityChange($event)">
          <mat-radio-button class="example-radio-button" [checked]="searchAvailability === 'true'" value="true">
            Only availables
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" [checked]="searchAvailability === 'false'" value="false">
            Only un-availables
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" [checked]="searchAvailability === 'both'" value="both">
            Both
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <!-- Name Column -->
        <ng-container matColumnDef="productName">
          <th mat-header-cell *matHeaderCellDef>Product Name </th>
          <td mat-cell *matCellDef="let element">{{ element.productName }}</td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Product Price</th>
          <td mat-cell *matCellDef="let element">${{ element.price }}</td>
        </ng-container>

        <!-- Availability Column -->
        <ng-container matColumnDef="isAvailable">
          <th mat-header-cell *matHeaderCellDef>Availability</th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox [disabled]="true" [checked]="element.isAvailable"></mat-checkbox>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons [pageIndex]="startingPage"
        (page)="pageChanged($event)"></mat-paginator>
    </div>
  </div>
</div>
